.steps {
    padding-top: 75px;
    background-color: var(--white-color);
    &__wrapper {
        min-height: 300px;
    }
    &__title {
        text-align: center;
        font-weight: 500;
        font-size: 42px;
        line-height: 167%;
    }

    &__wrapper {
        padding-bottom: 75px;
    }

    &__items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
    }

    &__item {
        text-align: center;
        &-img {
            max-width: 80px;
            max-height: 80px;
            height: 100%;
            margin: 0 auto;
            padding: 18px 15px;
            background-color: #009dff3b;
            border-radius: 50%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &-title {
            margin-top: 5px;
            font-weight: 500;
            font-size: 20px;
            line-height: 160%;
        }
        &-text {
            max-width: 295px;
            margin: 15px 5px 0 5px;
            font-weight: 400;
            font-size: 12px;
            line-height: 167%;
            color: var(--gray-color);
        }
    }
}