.doctors {
    min-height: 500px;
    margin-top: 120px;

    &__title {
        text-align: center;
        font-weight: 500;
        font-size: 42px;
        letter-spacing: 0.02em;
    }

    &__elem {
        position: relative;
        width: 80px;
        height: 15px;
        margin: 15px auto 15px auto;
        &-line {
            width: 80px;
            height: 3px;
            background-color: var(--blue-color);
            border-radius: 5px;
        }
        &-circle {
            position: absolute;
            top: -6px;
            right: 0;
            width: 15px;
            height: 15px;
            background-color: var(--blue-color);
            border-radius: 50%;
        }
    }

    &__subtitle {
        max-width: 550px;
        text-align: center;
        margin: 0 auto;
        font-weight: 400;
        font-size: 18px;
        line-height: 167%;
        letter-spacing: 0.02em;
        color: var(--gray-color);
    }

    &__items {
        margin-top: 69px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 400px);
        gap: 5px;
    }

    &__item {
        max-width: 267px;
        width: 100%;
        margin: 0 auto;
        background-color: var(--white-color);
        border-radius: 10px;
        &-img {
            padding: 10px 10px 0 10px;
            text-align: center;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &-name {
            text-align: center;
            font-weight: 500;
            font-size: 18px;
            line-height: 167%;
            margin-top: 18px;
        }
        &-prof {
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 157%;
            color: var(--gray-color);
        }
        &-social {
            display: flex;
            justify-content: space-between;
            max-width: 132px;
            width: 100%;
            height: 40px;
            text-align: center;
            margin: 17px auto 0 auto;
            a {
                width: 100%;
                height: 100%;
                margin-right: 5px;
                &:nth-child(3) {
                    margin-right: 0;
                }
            }
        }
    }

    &__btn {
        display: block;
        width: 100%;
        max-width: 195px;
        margin: 58px auto 0 auto;
    }
}