.footer {
    position: relative;
    margin-top: 108px;
    padding: 25px 0 10px 0;
    width: 100%;
    min-height: 350px;
    background-color: var(--white-color);
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #e1e2e4;
        position: absolute;
        bottom: 20px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 100%;
        max-width: 320px;
        min-height: 125px;
    }

    &__logo {
        width: 200px;
        min-height: 25px;
        font-weight: 500;
        font-size: 30px;
        line-height: 149%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        a {
            text-decoration: none;
            color: var(--blue-color);
            &:hover {
                color: var(--blue-color);
            }
        }
    }

    &__location {
        width: 100%;
        margin-top: 12px;
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
    }

    &__number {
        width: 100%;
        margin-top: 15px;
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        color: var(--gray-color);
    }

    &__social {
        width: 100%;
        margin-top: 15px;
    }

    &__img {
        margin: 0 5px;
        width: 100%;
        max-width: 32px;
    }

    &__menu {
        width: 100%;
        max-width: 250px;
        margin: 0 10px;
        display: flex;
        justify-content: space-between;
    }

    &__items {
        width: 100%;
        max-width: 100px;
        margin: 0 30px;
    }

    &__title {
        width: 100%;
        font-weight: 700;
        font-size: 15px;
        line-height: 100%;
    }

    &__item {
        margin: 24px 0 0 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: var(--gray-color);
    }

    &__subscribe {
        width: 100%;
        max-width: 290px;
    }

    &__subtitle {
        margin-top: 19px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        color: var(--gray-color);
    }

    &__form {
        margin-top: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__input {
        padding: 0 0 0 20px;
        width: 100%;
        height: 40px;
        border: 1px solid #e1e2e4;
        border-radius: 5px;
        font-weight: 400;
        font-size: 14px;
        color: var(--gray-color);
        outline: none;
    }

    &__btn {
        margin-top: 12px;
        width: 100%;
        min-height: 40px;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
    }

    &__policy {
        margin: 5px 0 31px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        &-items {
            display: flex;
            justify-content: space-between;
        }
        &-item {
            margin: 0 52px 0 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            &:nth-child(3) {
                margin: 0;
            }
        }
    }

    &__copyright {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: var(--gray-color);
    }

    &__link {
        color: var(--gray-color);
        &:hover {
            color: var(--blue-color);
            transition: all .2s;
        }
    }
    
}