.slider {
    margin: 120px 0 0 0;

    &__wrapper {
        width: 100%;
        min-height: 500px;
        position: relative;
    }

    &__title {
        width: 100%;
        text-align: center;
        font-weight: 500;
        font-size: 42px;
        letter-spacing: 0.02em;
    }

    &__items {
        margin-top: 90px;
    }

    &__item {
        position: relative;
        width: 373px;
        height: 391px;
        background-color: var(--white-color);
        padding: 21px 30px 0 30px;
        margin: 20px 15px 0 15px;
        border-radius: 10px;
        &::after {
            content: url(..//..//img/icons/quotation-marks.png);
            position: absolute;
            top: -20px;
            right: 20px;
            display: block;
            max-width: 40px;
            width: 100%;
            height: 40px;
            padding: 10px 13px;
            background-color: var(--blue-color);
            border-radius: 50%;
        }
    }

    &__img {
        max-width: 63px;
        width: 100%;
        height: 63px;
        margin: 0 auto;
    }

    &__name {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        font-weight: 700;
        font-size: 20px;
        line-height: 275%;
    }

    &__rating {
        color:  #ff9000;;
        font-size: 15px;
    }

    &__location {
        font-weight: 400;
        font-size: 14px;
        line-height: 179%;
        color: var(--blue-color);
    }
    
    &__text {
        margin-top: 21px;
        width: 100%;
        text-align: left;
        font-weight: 400;
        font-size: 16px;
        line-height: 156%;
    }
}


.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    width: 33px;
    height: 33px;
    margin-top: 40px;
    border: none;
    border-radius: 5px;
    font-size: 0;
    z-index: 10;
}

.slick-prev {
    left: -50px;
    background: url(..//..//img/icons/slider/left-arrow-blue.png) center 50% no-repeat;
    background-color: #bebebe67;
    &:hover {
        background: url(..//..//img/icons/slider/left-arrow.png) center 50% no-repeat;
        background-color: var(--blue-color);
        transition: .5s all;

    }
}

.slick-next {
    right: -50px;
    background: url(..//..//img/icons/slider/right-arrow-blue.png) center 50% no-repeat;
    background-color: #bebebe67;
    &:hover {
        background: url(..//..//img/icons/slider/right-arrow.png) center 50% no-repeat;
        background-color: var(--blue-color);
        transition: .5s all;

    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.slick-dots button {
    width: 10px;
    height: 10px;
    font-size: 0;
    margin: 0 3px 0 3px;
    border: 1px solid black;
    border-radius: 50%;
}

.slick-dots li {
    list-style: none;
}

.slick-dots button {
    width: 10px;
    height: 10px;
    font-size: 0;
    margin: 0 3px 0 3px;
    border: 1px solid black;
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    border: none;
    background-color: var(--blue-color);
    transform: scale(1.2);
}

